{% extends 'base.html' %}

{% load staticfiles product_template_helper %}

{% block title %}{% if post.page_title %}{{ post.page_title }}{% else %}{{ post.title }}{% endif %}{% endblock %}

{% block seo %}
	{% if post.page_meta_keywords %}
		<meta name="keywords" content="{{ post.page_meta_keywords }}" />
	{% endif %}

	{% if post.page_meta_description %}
		<meta name="description" content="{{ post.page_meta_description }}" />
	{% endif %}

	{% if post.page_meta_og_title %}
		<meta name="og:title" content="{{ post.page_meta_og_title }}" />
	{% endif %}

	{% if post.page_meta_og_description %}
		<meta name="og:description" content="{{ post.page_meta_og_description }}" />
	{% endif %}

	{% if post.page_meta_og_image %}
		<meta name="og:image" content="{{ post.page_meta_og_image }}" />
	{% endif %}
{% endblock %}

{% block content %}
    <!-- Page Title START -->
		<div class="container xleb mt-50">
			<ul>
				<li><a href="{% url 'index' %}">Главная</a></li>
				<li><a href="{% url 'blog:list' %}">Новости</a></li>
                <li><a href="">{{ post.title }}</a></li>
			</ul>
		</div>
	<!-- Page Title END -->


	<!-- Blog Post START -->
	<div class="section-block">
		<div class="container">
			<div class="row">
				<!-- Left Side START -->
				<div class="col-md-9 col-sm-8 col-12">
					<div class="blog-list-left">
						<img src="{% if post.thumbnail %}{{ post.thumbnail.url }}{% else %}https://via.placeholder.com/825x550{% endif %}" alt="{{ post.atr_alt }}">
						<div class="data-box">
							<h4>{{ post.created_at|date:"d" }}</h4>
							<strong>{{ post.created_at|date:"M" }}</strong>
						</div>
						<div class="blog-title-box">
							<h1>{{ post.title }}</h1>
							<span><i class="fa fa-calendar"></i>{{ post.created_at|date }} {{ post.created_at|time }}</span>
						</div>

						<div class="blog-post-content">
							{{ post.content|split_lines|safe }}
						</div>
					</div>
				</div>
				<!-- Left Side END -->

				<!-- Right Side START -->
				<div class="col-md-3 col-sm-4 col-12">
					<div class="blog-list-right">
						<!-- Recent News -->
						<div class="blog-list-left-heading">
							<h4>Последние новости</h4>
						</div>

						{% for item in recent_posts %}
							<div class="latest-posts">
								<div class="row">
									<div class="col-md-5 col-sm-5 col-4 latest-posts-img">
										<img src="{% if item.thumbnail %}{{ item.thumbnail.url }}{% else %}https://via.placeholder.com/80x80{% endif %}" alt="blog-img">
									</div>

									<div class="col-md-7 col-sm-7 col-8 latest-posts-text pl-0">
										<a href="{% url 'blog:single' slug=item.slug %}">{{ item.title|truncate_chars:50 }}</a>
										<span>{{ item.created_at|date }} {{ item.created_at|time }}</span>
									</div>
								</div>
							</div>
						{% endfor %}

					</div>
				</div>
				<!-- Right Side END -->
			</div>
		</div>
	</div>
	<!-- Blog Post END -->

{% endblock %}