{% extends 'base.html' %}

{% load staticfiles product_template_helper %}


{% block title %}
	{% if seo and seo.blog_list_page_title %}
		{{ seo.blog_list_page_title }}
	{% else %}
		Новости
	{% endif %}
{% endblock %}

{% block seo %}
	{% if seo and seo.blog_list_page_meta_keywords %}
		<meta name="keywords" content="{{ seo.blog_list_page_meta_keywords }}" />
	{% endif %}
	{% if seo and seo.blog_list_page_meta_description %}
		<meta name="description" content="{{ seo.blog_list_page_meta_description }}" />
	{% endif %}
	{% if seo and seo.blog_list_page_meta_og_title %}
		<meta name="og:title" content="{{ seo.blog_list_page_meta_og_title }}" />
	{% endif %}
	{% if seo and seo.blog_list_page_meta_og_description %}
		<meta name="og:description" content="{{ seo.blog_list_page_meta_og_description }}" />
	{% endif %}
	{% if seo and seo.blog_list_page_meta_og_image %}
		<meta name="og:image" content="{{ seo.blog_list_page_meta_og_image }}" />
	{% endif %}
{% endblock %}

{% block content %}
{#	<!-- Page Title START -->#}
{#	<div class="page-title-section" style="background-image: url({% if site_settings and site_settings.news_header_image %}{{ site_settings.news_header_image.url }}{% else %}https://via.placeholder.com/1730x300{% endif %});">#}
{#		<div class="container">#}
{#			<h1>Новости</h1>#}
{#			<ul>#}
{#				<li><a href="{% url 'index' %}">Главная</a></li>#}
{#				<li><a href="{% url 'blog:list' %}">Новости</a></li>#}
{#			</ul>#}
{#		</div>#}
{#	</div>#}
{#	<!-- Page Title END -->#}



	<!-- Blog Grid START -->
	<div class="section-block-grey">
		<div class="container">
			<div class="row">

				{% for item in posts %}
					<div class="col-md-4 col-sm-4 col-12">
						<div class="blog-grid">
							<div class="blog-grid-img">
								<img src="{% if item.thumbnail %}{{ item.thumbnail.url }}{% else %}https://via.placeholder.com/250x220{% endif %}" alt="img">
								<div class="data-box-grid">
									<h4>{{ item.created_at|date:"d" }}</h4>
									<p>{{ item.created_at|date:"M" }}</p>
								</div>
							</div>
							<div class="blog-grid-text">
								<h4>{{ item.title|truncate_chars:50 }}</h4>
								<ul>
									<li><i class="fa fa-calendar"></i>{{ item.created_at|date }} {{ item.created_at|time }}</li>
								</ul>

								{% if item.short_description %}
									{{ item.short_description|truncate_chars:130|split_lines|safe }}
								{% else %}
									{{ item.content|truncate_chars:130|split_lines|safe }}
								{% endif %}

								<div class="mt-20 left-holder">
									<a href="{% url 'blog:single' slug=item.slug %}" class="primary-button button-sm">Подробнее</a>
								</div>


							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<!-- Blog Grid END -->

{% endblock %}
