{% extends 'base.html' %}

{% load staticfiles product_template_helper %}

{% block title %}{{ grand_smeta.title }}{% endblock %}

{% block content %}
	<div class="section-block-grey">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-12">
					<img src="{{ grand_smeta.thumbnail.url }}" class="rounded-border shadow-primary" alt="{{ grand_smeta.title }}">
				</div>
				<div class="col-md-6 col-sm-6 col-12">
					<div class="pr-30-md">
						<div class="section-heading">
							<h4>{{ grand_smeta.title }}</h4>
							<h4>{{ grand_smeta.price }}</h4>
						</div>
						<div class="section-heading-line-left"></div>
						<div class="text-content-big mt-20">
							{{ grand_smeta.short_description|split_lines|safe }}
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="container mt-50">
			<div class="section-heading-line"></div>
			{{ grand_smeta.description|split_lines|safe }}
		</div>
	</div>
{% endblock %}