{% extends 'base.html' %}

{% load staticfiles product_template_helper %}

{% block title %}{% if grand_smeta.page_title %}{{ grand_smeta.page_title }}{% else %}{{ grand_smeta.title }}{% endif %}{% endblock %}

{% block seo %}
	{% if grand_smeta.page_meta_keywords %}
		<meta name="keywords" content="{{ grand_smeta.page_meta_keywords }}" />
	{% endif %}

	{% if grand_smeta.page_meta_description %}
		<meta name="description" content="{{ grand_smeta.page_meta_description }}" />
	{% endif %}

	{% if grand_smeta.page_meta_og_title %}
		<meta name="og:title" content="{{ grand_smeta.page_meta_og_title }}" />
	{% endif %}

	{% if grand_smeta.page_meta_og_description %}
		<meta name="og:description" content="{{ grand_smeta.page_meta_og_description }}" />
	{% endif %}

	{% if grand_smeta.page_meta_og_image %}
		<meta name="og:image" content="{{ grand_smeta.page_meta_og_image }}" />
	{% endif %}
{% endblock %}

{% block content %}
    <!-- Page Title START -->
		<div class="container xleb mt-50">
			<ul>
				<li><a href="{% url 'index' %}">Главная</a></li>
				<li><a href="{% url 'core:grand_smeta_list' %}">ГрандСмета</a></li>
                <li><a href="">{{ grand_smeta.title }}</a></li>
			</ul>
		</div>
	<!-- Page Title END -->

	<div class="section-block-grey">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-12">
					<img src="{{ grand_smeta.thumbnail.url }}" class="rounded-border shadow-primary" alt="{{ grand_smeta.art_alt }}">
				    <!-- Start Checkout button -->
                    <div class="container text-center web mt-20">
                        <button type="button" class="center checkout-button" data-toggle="modal"
                                data-target="#checkoutModal">
                            Оформить заказ
                        </button>
                    </div>
                    <!-- End Checkout button -->
                </div>
				<div class="col-md-6 col-sm-6 col-12">
					<div class="pr-30-md">
						<div class="section-heading">
							<h1>{{ grand_smeta.title }}</h1>
							<h4>{{ grand_smeta.price }}</h4>
						</div>


                        <!-- Start Mobile Checkout button -->
                        <div class="container text-center mobile">
                            <button type="button" class="center checkout-button" data-toggle="modal"
                                    data-target="#checkoutModal">
                                Оформить заказ
                            </button>
                        </div>
                        <!-- End Mobile Checkout button -->

						<div class="section-heading-line"></div>
						<div class="text-content-big mt-20">
							{{ grand_smeta.short_description|split_lines|safe }}
						</div>


					</div>
				</div>

			</div>
		</div>
		<div class="container mt-50">
			<div class="section-heading-line"></div>
			{{ grand_smeta.description|split_lines|safe }}
		</div>
	</div>

    {% include 'modals/checkout-modal.html' %}

{% endblock %}



{% block extra_js %}
    <script>
        $(document).ready(() => {
            $('#checkoutForm').on('submit', function (e) {
                e.preventDefault();

                let name = $('#id_name').val();
                let email = $('#id_email').val();
                let message = $('#id_message').val();
                let model_id = '{{ grand_smeta.pk }}';
                let model_name = 'grandsmeta';
                let is_agree = $('#is_agree').is(":checked");

                let data = {
                    csrfmiddlewaretoken: getCookie('csrftoken'),
                    'is_agree': is_agree,
                    'name': name,
                    'email': email,
                    'message': message,
                    'model_id': model_id,
                    'model_name': model_name,
                };

                $('#checkoutModal').modal("hide");

                $.ajax({
                    url: "{% url 'checkouts:checkout_request' %}",
                    method: 'POST',
                    dataType: 'JSON',
                    data: data,

                    success: function (response) {
                        $('#checkoutModal').modal("hide");
                        alert(response.message)
                    },
                    error: function (request, errThrown, errObject) {
                        $('#checkoutModal').modal("hide");
                        console.error(request, errThrown, errObject);
                    }
                })
            })
        });

    </script>
{% endblock %}