{% extends 'base.html' %}

{% load staticfiles product_template_helper %}

{% block title %}
	{% if seo and seo.grand_smeta_list_page_title %}
		{{ seo.grand_smeta_list_page_title }}
	{% else %}
		Гранд Смета
	{% endif %}
{% endblock %}

{% block extra_css %}
	<style>
		.grand-smeta-description-text p {
			text-align: justify;
			color: rgb(153, 153, 153);
			font-family: 'Fira Sans', sans-serif;
		}
	</style>
{% endblock %}

{% block seo %}
	{% if seo and seo.grand_smeta_list_page_meta_keywords %}
		<meta name="keywords" content="{{ seo.grand_smeta_list_page_meta_keywords }}" />
	{% endif %}
	{% if seo and seo.grand_smeta_list_page_meta_description %}
		<meta name="keywords" content="{{ seo.grand_smeta_list_page_meta_description }}" />
	{% endif %}
	{% if seo and seo.grand_smeta_list_page_meta_og_title %}
		<meta name="og:title" content="{{ seo.grand_smeta_list_page_meta_og_title }}" />
	{% endif %}
	{% if seo and seo.grand_smeta_list_page_meta_og_description %}
		<meta name="og:description" content="{{ seo.grand_smeta_list_page_meta_og_description }}" />
	{% endif %}
	{% if seo and seo.grand_smeta_list_page_meta_og_image %}
		<meta name="og:image" content="{{ seo.grand_smeta_list_page_meta_og_image }}" />
	{% endif %}
{% endblock %}

{% block content %}
{#	<!-- Page Title START -->#}
{#	<div class="page-title-section" style="background-image: url({% if site_settings and site_settings.grand_smeta_header_image %}{{ site_settings.grand_smeta_header_image.url }}{% else %}https://via.placeholder.com/1730x300{% endif %});">#}
{#		<div class="container">#}
{#			<h1>ГрандСмета</h1>#}
{#			<ul>#}
{#				<li><a href="{% url 'index' %}">Главная</a></li>#}
{#				<li><a href="{% url 'core:grand_smeta_list' %}">ГрандСмета</a></li>#}
{#			</ul>#}
{#		</div>#}
{#	</div>#}
{#	<!-- Page Title END -->#}


	<div class="section-block">
		<div class="container grand-smeta-description-text">
			<div class="section-heading">
				<h5>ГрандСмета</h5>
				<div class="section-heading-line-left"></div>
			</div>

			{% if site_settings and site_settings.grand_smeta_text %}
				{{ site_settings.grand_smeta_text|split_lines|safe }}
			{% else %}
				<p>Курсы. Дополнительное образование плотно вошло в жизнь каждого современного человека. В чем же его актуальность, спросите Вы? А в том, что на курсах 1С, к примеру, Вас научат работать с современными программами учета, которые применяются сейчас повсеместно, и, зная их, устроиться на работу шансов намного больше. А на курсах "Сметное дело в строительстве" Вас не только научат составлять сметы и работать в программе ГрандСмета, но и впоследствии, когда Вы устроитесь на работу, Вас будут продолжать консультировать специалисты нашего Учебного Центра. А может случиться и так, что в какой-то момент Вы заметите, что не хватает навыков работе на компьютере. Или родители-пенсионеры проявили интерес к работе в интернете. Словом, поводов, чтобы пройти курсы Пользователь ПЭВМ или Оператор 1С или любые другие, предостаточно.</p>
				<p>Курсы 1С в Чите. Вот уже 10 лет Учебный центр "Гранд" предоставляет услуги по дополнительному образованию и дополнительному профессиональному образованию жителям Читы и Забайкальского края. За столь долгое время у нас сложился прекрасный педагогический коллектив, наработаны методические материалы, налажены крепкие партнерские отношения со многими крупными организациями города Читы, обучены несколько тысяч специалистов. Сегодня мы можем с уверенностью сказать, что даем полные, актуальные знания каждому, кто приходит к нам. Наше приоритетное направление - это качество образования. Нам важно, чтобы наши выпускники получили знания, которые действительно помогут им трудоустроиться или повысить профессиональный уровень.</p>
				<p>Особо хочется отметить, что занятия в учебном центре проходят в действительно дружелюбной обстановке. Мы работаем в диалоге со студентами и каждый, кто у нас уже обучался, знает, что лекции проходят легко и интересно. Для лучшего усвоения материала курсантам выдается методическая литература: как рекомендованная компанией 1С, так и адаптированные разработки наших методистов. Учебные классы чистые и светлые, оборудованы проектором и кондиционером. Все готово для того, чтобы Вы пришли и начали обучаться.</p>
			{% endif %}
		</div>

		<div class="section-block">
			<div class="container">
				<div class="section-heading">
					<h1>ПК ГрандСмета</h1>
					<div class="section-heading-line-left"></div>
				</div>
				<div class="row mt-30">

					{% for item in grand_smeta %}
						<!-- Product Start -->
						<a href="{% url 'core:grand_smeta_single' slug=item.slug %}">
							<div class="col-md-3 col-sm-6 col-12">
								<div class="classic-shop">
									<div class="classic-shop-img">
										<img src="{{ item.thumbnail.url }}" alt="img">
										<div class="shop-box-overlay">
											<div class="row">
												<div class="col-md-12 col-sm-12 col-12">
												</div>
											</div>
										</div>
									</div>
									<div class="classic-shop-text">
										<h4><a href="{% url 'core:grand_smeta_single' slug=item.slug %}">{{ item.title }}</a></h4>
										<h5>{{ item.price }}</h5>
									</div>
								</div>
							</div>
						</a>
						<!-- Product End -->
					{% endfor %}


				</div>
			</div>
		</div>
	</div>
{% endblock %}