{% extends 'base.html' %}

{% load staticfiles product_template_helper %}

{% block title %}{% if grand_smeta.page_title %}{{ grand_smeta.page_title }}{% else %}{{ grand_smeta.title }}{% endif %}{% endblock %}

{% block seo %}
	{% if grand_smeta.page_meta_keywords %}
		<meta name="keywords" content="{{ grand_smeta.page_meta_keywords }}" />
	{% endif %}

	{% if grand_smeta.page_meta_description %}
		<meta name="description" content="{{ grand_smeta.page_meta_description }}" />
	{% endif %}

	{% if grand_smeta.page_meta_og_title %}
		<meta name="og:title" content="{{ grand_smeta.page_meta_og_title }}" />
	{% endif %}

	{% if grand_smeta.page_meta_og_description %}
		<meta name="og:description" content="{{ grand_smeta.page_meta_og_description }}" />
	{% endif %}

	{% if grand_smeta.page_meta_og_image %}
		<meta name="og:image" content="{{ grand_smeta.page_meta_og_image }}" />
	{% endif %}
{% endblock %}

{% block content %}
	<div class="section-block-grey">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-12">
					<img src="{{ grand_smeta.thumbnail.url }}" class="rounded-border shadow-primary" alt="{{ grand_smeta.art_alt }}">
				</div>
				<div class="col-md-6 col-sm-6 col-12">
					<div class="pr-30-md">
						<div class="section-heading">
							<h1>{{ grand_smeta.title }}</h1>
							<h4>{{ grand_smeta.price }}</h4>
						</div>
						<div class="section-heading-line-left"></div>
						<div class="text-content-big mt-20">
							{{ grand_smeta.short_description|split_lines|safe }}
						</div>
					</div>
				</div>

			</div>
		</div>
		<div class="container mt-50">
			<div class="section-heading-line"></div>
			{{ grand_smeta.description|split_lines|safe }}
		</div>
	</div>
{% endblock %}