{% extends 'base.html' %}

{% load staticfiles product_template_helper %}

{% block title %}Главная{% endblock %}

{% block content %}


<!-- Slider START -->
<div class="swiper-main-slider-fade swiper-container">
	<div class="swiper-wrapper">

		{% for slide in slides %}
			<!-- Slide 1 Start -->
			<div class="swiper-slide" style="background-image:url({% if slide.thumbnail %}{{ slide.thumbnail.url }}{% else %}http://via.placeholder.com/1520x450{% endif %});">
				<!-- <div class="medium-overlay"></div> -->
				<div class="container">
					<div class="slider-content left-holder">
						<h2 class="animated fadeInDown">
							{{ slide.title|safe }}
						</h2>
						<div class="row">
							<div class="col-md-6 col-sm-12 col-12">
								<p class="animated fadeInDown">
									{{ slide.description }}
								</p>
							</div>
						</div>
						{% if slide.link %}
							<div class="animated fadeInUp mt-30">
								<a href="{{ slide.link }}" class="dark-button button-md">Узнать больше</a>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
			<!-- Slide 1 End -->
		{% endfor %}
	</div>
	<!-- Add Arrows -->
	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
</div>
<!-- Slider END -->




<!-- Number Boxes START -->
<div class="section-block">
	<div class="container">
		<div class="section-heading ">
			<h1 class="text-center">Почему нас выбирают?</h1>
			<div class="section-heading-line"></div>
			{% if site_settings and site_settings.why_choose_us %}
				{{ site_settings.why_choose_us|split_lines|safe }}
			{% else %}
				<p>Курсы. Дополнительное образование плотно вошло в жизнь каждого современного человека. В чем же его актуальность, спросите Вы? А в том, что на курсах 1С, к примеру, Вас научат работать с современными программами учета, которые применяются сейчас повсеместно, и, зная их, устроиться на работу шансов намного больше. А на курсах "Сметное дело в строительстве" Вас не только научат составлять сметы и работать в программе ГрандСмета, но и впоследствии, когда Вы устроитесь на работу, Вас будут продолжать консультировать специалисты нашего Учебного Центра. А может случиться и так, что в какой-то момент Вы заметите, что не хватает навыков работе на компьютере. Или родители-пенсионеры проявили интерес к работе в интернете. Словом, поводов, чтобы пройти курсы Пользователь ПЭВМ или Оператор 1С или любые другие, предостаточно.</p>
				<p>Курсы 1С в Чите. Вот уже 10 лет Учебный центр "Гранд" предоставляет услуги по дополнительному образованию и дополнительному профессиональному образованию жителям Читы и Забайкальского края. За столь долгое время у нас сложился прекрасный педагогический коллектив, наработаны методические материалы, налажены крепкие партнерские отношения со многими крупными организациями города Читы, обучены несколько тысяч специалистов. Сегодня мы можем с уверенностью сказать, что даем полные, актуальные знания каждому, кто приходит к нам. Наше приоритетное направление - это качество образования. Нам важно, чтобы наши выпускники получили знания, которые действительно помогут им трудоустроиться или повысить профессиональный уровень.</p>
				<p>Особо хочется отметить, что занятия в учебном центре проходят в действительно дружелюбной обстановке. Мы работаем в диалоге со студентами и каждый, кто у нас уже обучался, знает, что лекции проходят легко и интересно. Для лучшего усвоения материала курсантам выдается методическая литература: как рекомендованная компанией 1С, так и адаптированные разработки наших методистов. Учебные классы чистые и светлые, оборудованы проектором и кондиционером. Все готово для того, чтобы Вы пришли и начали обучаться.</p>
			{% endif %}
		</div>
	</div>
</div>
<!-- Number Boxes END -->





<!-- Учебный Центр START -->
<div class="section-block-grey">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-12">
				<div class="pr-30-md">
					<div class="section-heading">
						<h4>Учебный Центр</h4>
					</div>
					<div class="section-heading-line-left"></div>
					<div class="text-content-big mt-20">
						{% if site_settings and site_settings.schedule %}
							{{ site_settings.schedule|split_lines|safe }}
						{% else %}
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						{% endif %}
					</div>
					<div class="mt-20">
						<ul class="primary-list">
							<li><i class="fa fa-caret-right"></i>Immigration consultant, Information technology consulting</li>
							<li><i class="fa fa-caret-right"></i>Consultant pharmacist Creative consultant</li>
							<li><i class="fa fa-caret-right"></i>Employment consultant Environmental consultant</li>
						</ul>
					</div>
					<div class="mt-25">
						<a href="{% url 'schedule:list' %}" class="primary-button button-sm mb-15-xs">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-12">
				<img src="{% if site_settings and site_settings.schedule_thumbnail %}{{ site_settings.schedule_thumbnail.url }}{% else %}http://via.placeholder.com/540x380{% endif %}" class="rounded-border shadow-primary" alt="img">
			</div>
		</div>
	</div>
</div>
<!-- Учебный Центр END -->






<!-- Гранд Сервис START -->
<div class="section-block-grey">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-12">
				<div class="pr-30-md">
					<div class="section-heading">
						<h4>Гранд Сервис</h4>
					</div>
					<div class="section-heading-line-left"></div>
					<div class="text-content-big mt-20">
						{% if site_settings and site_settings.grand_service %}
							{{ site_settings.grand_service|split_lines|safe }}
						{% else %}
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						{% endif %}
					</div>
					<div class="mt-20">
						<ul class="primary-list">
							<li><i class="fa fa-caret-right"></i><a href="#">1С: Установка, Настройка, Обслуживание</a></li>
							<li><i class="fa fa-caret-right"></i><a href="#">Онлайн-Кассы</a></li>
							<li><i class="fa fa-caret-right"></i><a href="#">Контур</a></li>
							<li><i class="fa fa-caret-right"></i><a href="#">Электронные подписи</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-12">
				<img src="{% if site_settings and site_settings.grand_service_thumbnail %}{{ site_settings.grand_service_thumbnail.url }}{% else %}http://via.placeholder.com/540x380{% endif %}" class="rounded-border shadow-primary" alt="img">
			</div>
		</div>
	</div>
</div>
<!-- Гранд Сервис END -->





<!-- Гранд Смета START -->
<div class="section-block-grey">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-6 col-12">
				<div class="pr-30-md">
					<div class="section-heading">
						<h4>Гранд Смета</h4>
					</div>
					<div class="section-heading-line-left"></div>
					<div class="text-content-big mt-20">
						{% if site_settings and site_settings.grand_smeta %}
							{{ site_settings.grand_smeta|split_lines|safe }}
						{% else %}
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						{% endif %}
					</div>
					<div class="mt-20">
						<ul class="primary-list">
							<li><i class="fa fa-caret-right"></i><a href="#"></a></li>
							<li><i class="fa fa-caret-right"></i><a href="#"></a></li>
							<li><i class="fa fa-caret-right"></i><a href="#"></a></li>
							<li><i class="fa fa-caret-right"></i><a href="#"></a></li>
						</ul>
					</div>
					<div class="mt-25">
						<a href="{% url 'core:grand_smeta_list' %}" class="primary-button button-sm mb-15-xs">Подробнее</a>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-sm-6 col-12">
				<img src="{% if site_settings and site_settings.grand_smeta_thumbnail %}{{ site_settings.grand_smeta_thumbnail.url }}{% else %}http://via.placeholder.com/540x380{% endif %}" class="rounded-border shadow-primary" alt="img">
			</div>
		</div>
	</div>
</div>
<!-- Гранд Смета END -->








<!-- Services START -->
<div class="section-block">
	<div class="container">
		<div class="section-heading center-holder">
			<h3>Новости</h3>
			<div class="section-heading-line"></div>
		</div>
		<div class="section-block">
			<div class="container">
				{% for item in last_posts %}
					<div class="blog-list-simple">
						<div class="row">
							<div class="col-md-5 col-sm-5 col-12">
								<div class="blog-list-simple-img">
									<img src="{% if item.thumbnail %}{{ item.thumbnail.url }}{% else %}http://via.placeholder.com/445x255{% endif %}" alt="img">
									<div class="data-box-simple">
										<h4>{{ item.created_at|date:"d" }}</h4>
										<p>{{ item.created_at|date:"M" }}</p>
									</div>
								</div>
							</div>
							<div class="col-md-7 col-sm-7 col-12">
								<div class="blog-list-simple-text">
									{#<span>Тема</span>#}
									<h4>{{ item.title }}</h4>
									<ul>
										<li><i class="fa fa-calendar"></i>{{ item.created_at|date }} {{ item.created_at|time }}</li>
									</ul>
									{% if item.short_description %}
										{{ item.short_description|split_lines|safe }}
									{% else %}
										{{ item.content|slice:"0:130"|split_lines|safe }}
									{% endif %}
									<div class="mt-20 left-holder">
										<a href="{% url 'blog:single' slug=item.slug %}" class="primary-button button-sm">Узнать больше</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<!-- Новости END -->

{% endblock %}