{% extends 'base.html' %}

{% load staticfiles product_template_helper %}

{% block title %}Онлайн Кассы{% endblock %}

{% block content %}

	<!-- Page Title START -->
	<div class="page-title-section" style="background-image: url({% if site_settings and site_settings.online_cash_box_header_image %}{{ site_settings.online_cash_box_header_image.url }}{% else %}https://via.placeholder.com/1730x300{% endif %});">
		<div class="container">
			<h1>Онлайн-Кассы</h1>
			<ul>
				<li><a href="{% url 'index' %}">Главная</a></li>
				<li><a href="{% url 'production:online_cashbox_list' %}">Онлайн-Кассы</a></li>
			</ul>
		</div>
	</div>
	<!-- Page Title END -->

	<!-- Clients Carousel START -->
	<div class="section-clients border-top">
		<div class="container">
			<div class="owl-carousel owl-theme clients" id="clients">
				{% for item in partners %}
					<div class="item">
						<img src="{{ item.thumbnail.url }}" alt="{{ item.title }}">
					</div>
				{% endfor %}
			</div>
		</div>
		<!-- Clients Carousel END -->

		<!-- Shop Grid START -->
		<div class="section-block">
			<div class="container">
				<div class="section-heading">


				</div>
				<div class="mt-30">
					{% for category in prepared_categories %}
						<h4>{{ category.category.title }}</h4>

						<div class="row">
							{% for item in category.objects %}
								<!-- Product Start -->
								<div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-xs-6 col-12">
									<a href="{% url 'production:online_cashbox_single' id=item.id %}">
										<div class="classic-shop">
											<div class="classic-shop-img">
												<img src="{{ item.thumbnail.url }}" alt="img">
												<div class="shop-box-overlay">
													<div class="row">
														<div class="col-md-12 col-sm-12 col-12">
															<a href="{% url 'production:online_cashbox_single' id=item.id %}">
																<div class="shop-to-card">
																	<h4><span class="fa fa-eye"></span>Подробнее</h4>
																</div>
															</a>
														</div>
													</div>
												</div>
											</div>
											<div class="classic-shop-text p-3">
                                                <h4><a href="{% url 'production:online_cashbox_single' id=item.id %}">{{ item.title|truncate_chars:50 }}</a></h4>
                                                <div class="text-justify">{{ item.short_description|truncate_chars:80|split_lines|safe }}</div>
												{#<h5>{{ item.price_box|parse_json|get_first_item:'value' }}</h5>#}
											</div>
										</div>
									</a>
								</div>
								<!-- Product End -->
							{% endfor %}
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		<!-- Shop Grid END -->

	</div>

{% endblock %}