{% extends 'base.html' %}

{% load staticfiles product_template_helper %}

{% block title %}{% if online_cashbox.page_title %}{{ online_cashbox.page_title }}{% else %}{{ online_cashbox.title }}{% endif %}{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'slick/slick-theme.css' %}"/>
	<link rel="stylesheet" href="{% static 'css/lightgallery.min.css' %}">
{% endblock %}

{% block seo %}
	{% if online_cashbox.page_meta_keywords %}
		<meta name="keywords" content="{{ online_cashbox.page_meta_keywords }}" />
	{% endif %}

	{% if online_cashbox.page_meta_description %}
		<meta name="description" content="{{ online_cashbox.page_meta_description }}" />
	{% endif %}

	{% if online_cashbox.page_meta_og_title %}
		<meta name="og:title" content="{{ online_cashbox.page_meta_og_title }}" />
	{% endif %}

	{% if online_cashbox.page_meta_og_description %}
		<meta name="og:description" content="{{ online_cashbox.page_meta_og_description }}" />
	{% endif %}

	{% if online_cashbox.page_meta_og_image %}
		<meta name="og:image" content="{{ online_cashbox.page_meta_og_image }}" />
	{% endif %}
{% endblock %}

{% block content %}

	<!-- Shop Single START -->
	<div class="section-block">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-12">
					<!-- Product Images & Alternates -->
					<div class="product-images">
						<!-- Begin Product Images Slider -->

						<div id="slick-target">
							<div class="main-img-slider" data-src="{{ online_cashbox.thumbnail.url }}">
								<figure>
									<img src="{{ online_cashbox.thumbnail.url }}" alt="{{ online_cashbox.title }}" />
								</figure>
							</div>

							{% for slide in online_cashbox.onlinecashboximage_set.all %}
								<div class="main-img-slider" data-src="{{ slide.image.url }}">
									<figure>
										<img src="{{ slide.image.url }}" alt="{% if slide.image_title %}{{ slide.image_title }}{% else %}{{ slide.image.name }}{% endif %}" />
									</figure>
								</div>
							{% endfor %}
						</div>

						<!-- End Product Images Slider -->
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-12">
					<div class="single-product">
						<h1>{{ online_cashbox.title|safe }}</h1>

						<!-- Price Start -->
						<div class="single-product-price">
							<h4 id="price-tag">{{ online_cashbox.price_box|parse_json|get_first_item:'value' }}</h4>
						</div>
						<!-- Price End -->

						<div class="price-box">
							<ul id="price-box">
								{% for item in online_cashbox.price_box|parse_json %}
									<li{% if forloop.counter0 == 0 %} class="active"{% endif %} data-value="{{ item.value }}" data-id="{{ item.id }}">{{ item.key }}</li>
								{% endfor %}
							</ul>
						</div>

						{{ online_cashbox.short_description|split_lines|safe }}

						<div class="product-share mt-20">
							<span>Поделится: </span>
							{% for item in online_cashbox.share_links.all %}
								<a href="{% normalize_social_link item.url request title=online_cashbox.title description=online_cashbox.short_description image=online_cashbox.thumbnail %}"><i class="fa fa-{{ item.icon }}"></i></a>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container mt-50">
			<div class="section-heading ">
				<div class="section-heading-line"></div>
				{{ online_cashbox.full_description|split_lines|safe }}
			</div>
		</div>
	</div>
	<!-- Shop Single END -->


{% endblock %}


{% block extra_js %}
	<script src="{% static 'js/lightgallery.min.js' %}"></script>
	<script src="{% static 'slick/slick.min.js' %}"></script>
	<script src="{% static 'js/price-box.js' %}"></script>
	<script>
		$(document).ready(() => {
			let priceBox = new PriceBox();
			priceBox.init();

			let slickGallerySlider = $('#slick-target');

			slickGallerySlider.slick({
				dots: true,
				autoplay: true,
				adaptiveHeight: true,
				infinite: true
			});

			slickGallerySlider.lightGallery({
				selector: '.main-img-slider'
			});
		});
	</script>
{% endblock %}
