{% extends 'base.html' %}

{% load staticfiles product_template_helper %}

{% block title %}Политика конфиденцальности{% endblock %}

{% block content %}
    <!-- Page Title START -->
		<div class="container xleb mt-50">
			<ul>
				<li><a href="{% url 'index' %}">Главная</a></li>
				<li><a href="{% url 'core:privacy_policy' %}">Политика конфиденцальности</a></li>
			</ul>
		</div>
	<!-- Page Title END -->


	<!-- Blog Post START -->
	<div class="section-block">
		<div class="container">
				<!-- Right Side START -->
            <div class="section-heading">
                <h1>Политика конфиденцальности</h1>
                <div class="section-heading-line-left"></div>
            </div>
            <div class="mt-30">
                {{ privacy_policy.description|safe }}
            </div>
				<!-- Right Side END -->
		</div>
	</div>
	<!-- Blog Post END -->

{% endblock %}