{% extends 'base.html' %}

{% load staticfiles product_template_helper widget_tweaks %}

{% block title %}{% if course.page_title %}{{ course.page_title }}{% else %}{{ course.title }}{% endif %}{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
	<style>
		.primary-button {
			cursor: pointer;
		}

		.primary-button.disabled {
			background-color: #6c757d;
			border-color: #6c757d;
			color: #ffffff;
			cursor: not-allowed;
		}
		.contact-form select {
			font-weight: 500 !important;
			border-radius: 5px;
			font-size: 13px;
			border: 1px solid #f6f7f8;
			background: #f6f7f8;
			color: #777 !important;
			outline: none;
			width: 100%;
			padding: 14px;
			margin: 10px 0;
			-webkit-transition-duration: 0.4s;
			transition-duration: 0.4s;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			cursor: pointer;
		}
	</style>
{% endblock %}

{% block seo %}
	{% if course.page_meta_keywords %}
		<meta name="keywords" content="{{ course.page_meta_keywords }}" />
	{% endif %}

	{% if course.page_meta_description %}
		<meta name="description" content="{{ course.page_meta_description }}" />
	{% endif %}

	{% if course.page_meta_og_title %}
		<meta name="og:title" content="{{ course.page_meta_og_title }}" />
	{% endif %}

	{% if course.page_meta_og_description %}
		<meta name="og:description" content="{{ course.page_meta_og_description }}" />
	{% endif %}

	{% if course.page_meta_og_image %}
		<meta name="og:image" content="{{ course.page_meta_og_image }}" />
	{% endif %}
{% endblock %}

{% block content %}
{#	<!-- Page Title START -->#}
{#	<div class="page-title-section" style="background-image: url({% if course.cover_image %}{{ course.cover_image.url }}{% else %}https://via.placeholder.com/1730x300{% endif %});">#}
{#		<div class="container">#}
{#			<h1>{{ course.title }}</h1>#}
{#			<ul>#}
{#				<li><a href="{% url 'index' %}">Главная</a></li>#}
{#				<li><a href="{% url 'schedule:list' %}">Образовательные программы</a></li>#}
{#				<li><a href="{% url 'schedule:single' slug=course.slug %}">{{ course.title }}</a></li>#}
{#			</ul>#}
{#		</div>#}
{#	</div>#}
{#	<!-- Page Title END -->#}
    <!-- Page Title START -->
		<div class="container xleb mt-50">
			<ul>
				<li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'schedule:list' %}">Учебный Центр</a></li>
				<li><a href="{% url 'courses_single' slug=course.slug %}">{{ course.title }}</a></li>
			</ul>
		</div>
	<!-- Page Title END -->


	<div class="section-block">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-12">
					<div class="pr-30-md">
						<div class="section-heading">
							<h1>{{ course.title }}</h1>
							<h5>{% if course.cost %}{{ course.cost }}{% else %}Цену уточните у оператора{% endif %}</h5>
{#							<button class="primary-button button-md{% if not course.get_actual_date_action %} disabled{% endif %}" id="open-apply-form-button">{% if course.get_actual_date_action %}Записаться{% else %}Запись временно не доступна{% endif %}</button>#}
						</div>
						<div class="section-heading-line-left"></div>
						<div class="mt-20">
							{{ course.short_description|split_lines|safe }}
{#							<!-- Подставляется из основного расписание  shedule.html-->#}
{##}
{#							{% for schedule in course.schedule_set.all %}#}
{#								<div class="border p-3 mb-3">#}
{#									<h5 class="mb-3">Курс #{{ forloop.counter }}</h5>#}
{##}
{#									<p>Дата: {{ schedule.start_date|safe }}</p>#}
{#									<p>Время: {{ schedule.start_hour|time }} - {{ schedule.finish_hour|time }} ({{ schedule.days }})</p>#}
{#									<p>Продолжительность: {{ schedule.duration }}</p>#}
{#									{% if schedule.have_own_cost %}#}
{#										<p>Оплата: {% if schedule.cost %}{{ schedule.cost }}{% else %}-{% endif %}</p>#}
{#									{% else %}#}
{#										<p>Оплата: {{ course.cost }}</p>#}
{#									{% endif %}#}
{#								</div>#}
{#							{% endfor %}#}
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-12">
					<div class="course-preview-wrapper">
						<img src="{{ course.thumbnail.url }}" class="rounded-border shadow-primary" alt="{{ course.atr_alt }}">
					</div>

					<div class="product-share mt-20">
						<span>Поделиться: </span>
						{% for item in course.share_links.all %}
							<a href="{% normalize_social_link item.url request title=course.title description=course.short_description image=course.thumbnail %}" target="_blank"><i class="fa fa-{{ item.icon }}"></i></a>
						{% endfor %}
					</div>

                    <!-- Start Checkout button -->
                    <div class="mt-20">
                        <button type="button" class="center call-button" data-toggle="modal"
                                data-target="#callModal">
                            Заказать звонок
                        </button>
                    </div>
                    <!-- End Checkout button -->
				</div>
			</div>
		</div>
		<div class="container mt-50">
			<div class="section-heading-line"></div>
            <br>
			{{ course.full_description|split_lines|safe }}
		</div>

        <br>

        <div class="container">
        <div class="section-heading text-center">
            <h5>Расписание</h5>
            <div class="section-heading-line"></div>
        </div>
        <br>
            <div class="row">


                    <!-- Подставляется из основного расписание  shedule.html-->

							{% for schedule in course.schedule_set.all %}
                                 <div class="col-md-4 col-sm-4 col-12">
								<div class="border p-3 mb-3">
									<h5 class="mb-3">Группа {{ forloop.counter }}</h5>

									<p>Дата: {{ schedule.start_date|safe }}</p>
									<p>Время: {{ schedule.start_hour|time }} - {{ schedule.finish_hour|time }} ({{ schedule.days }})</p>
									<p>Продолжительность: {{ schedule.duration }}</p>
									{% if schedule.have_own_cost %}
										<p>Оплата: {% if schedule.cost %}{{ schedule.cost }}{% else %}-{% endif %}</p>
									{% else %}
										<p>Оплата: {{ course.cost }}</p>
									{% endif %}
								</div>
                                </div>
							{% endfor %}


            </div>
        </div>
	</div>
    {% include 'modals/call-modal.html' %}


{#	<!-- Modal -->#}
{#	<div class="modal fade" id="apply-to-course-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">#}
{#		<div class="modal-dialog" role="document">#}
{#			<div class="modal-content">#}
{#				<div class="modal-header">#}
{#					<h5 class="modal-title" id="exampleModalLongTitle">Запись на курс "{{ course.title }}"</h5>#}
{#					<button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#						<span aria-hidden="true">&times;</span>#}
{#					</button>#}
{#				</div>#}
{#				<div class="modal-body">#}
{#					<!-- Form Start -->#}
{#					<form class="contact-form row" id="apply-form">#}
{#						{% render_field apply_form.course %}#}
{#						<div class="col-md-12 col-sm-12 col-12">#}
{#							{% render_field apply_form.last_name placeholder='Ваше Фамилия' %}#}
{#						</div>#}
{##}
{#						<div class="col-md-12 col-sm-12 col-12">#}
{#							{% render_field apply_form.first_name placeholder='Ваше Имя' %}#}
{#						</div>#}
{##}
{#						<div class="col-md-12 col-sm-12 col-12">#}
{#							{% render_field apply_form.middle_name placeholder='Ваше Отчество' %}#}
{#						</div>#}
{##}
{#						<div class="col-md-12">#}
{#							{% render_field apply_form.email placeholder='Электронная почта' %}#}
{#						</div>#}
{##}
{#						<div class="col-md-12">#}
{#							{% render_field apply_form.phone placeholder='Телефон' %}#}
{#						</div>#}
{##}
{#						<div class="col-md-12 col-sm-12 col-12">#}
							{#<input type="text" name="education" placeholder="Ваше образование">#}
{#							{% render_field apply_form.education placeholder='Образование' %}#}
{#						</div>#}
{##}
{#						<div class="col-md-12">#}
							{#<textarea name="message" placeholder="Сообщение"></textarea>#}
{#							{% render_field apply_form.message placeholder='Сообщение' %}#}
{#						</div>#}
{#					</form>#}
{#					<!-- Form End -->#}
{#				</div>#}
{#				<div class="modal-footer">#}
{#					<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>#}
{#					<button type="button" class="btn btn-primary" id="submit-apply-form-button">Записаться</button>#}
{#				</div>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{% endblock %}

{% block extra_js %}
     <script>
        $(document).ready(() => {
            $('#callForm').on('submit', function (e) {
                e.preventDefault();

                let name = $('#id_name').val();
                let phone = $('#id_phone').val();
                let message = $('#id_message').val();
                let model_id = '{{ course.pk }}';
                let is_agree = $('#is_agree').is(":checked");

                let data = {
                    csrfmiddlewaretoken: getCookie('csrftoken'),
                    'name': name,
                    'phone': phone,
                    'message': message,
                    'course': model_id,
                    'is_agree': is_agree,
                };

                $('#callModal').modal("hide");

                $.ajax({
                    url: "{% url 'calls:calls_request' %}",
                    method: 'POST',
                    dataType: 'JSON',
                    data: data,

                    success: function (response) {
                        alert(response.message)
                    },
                    error: function (request, errThrown, errObject) {
                        alert('Произошла ошибка просьба обратитесь к администратору.');
                        console.error(request, errThrown, errObject);
                    }
                })
            })
        });

    </script>


{#	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>#}
{#	<script>#}
{#		let isRequesting = false;#}
{##}
{#		const _alert = (title, content, status) => {#}
{#		    $.alert({#}
{#				title: `<h4>${title}</h4>`,#}
{#				content: content,#}
{#				type: status,#}
{#				columnClass: 'col-md-6 col-md-offset-3 col-lg-3 col-lg-offset-3 col-sm-12',#}
{#				theme: 'material'#}
{#			});#}
{#		};#}
{##}
{#        $(document).ready(() => {#}
{#            let openApplyModalButton = $('#open-apply-form-button');#}
{#            let applyModal = $('#apply-to-course-modal');#}
{#            let form = $('#apply-form');#}
{#            let submitButton = $('#submit-apply-form-button');#}
{##}
{#            openApplyModalButton.on('click', e => {#}
{#                e.preventDefault();#}
{##}
{#                if (!openApplyModalButton.hasClass('disabled')) {#}
{#                    applyModal.modal('show');#}
{#                }#}
{#            });#}
{##}
{#            const submitApplyForm = () => {#}
{#                isRequesting = true;#}
{##}
{#                let data = {#}
{#                    csrfmiddlewaretoken: getCookie('csrftoken')#}
{#                };#}
{##}
{#                let fields = form.find('input, textarea, select');#}
{##}
{#                const enableAllFieldsAndSubmitButton = () => {#}
{#                    for (let i = 0; i < fields.length; ++i) {#}
{#						let _field = $(fields[i]);#}
{##}
{#						_field.removeClass('disabled');#}
{#					}#}
{#					submitButton.removeClass('disabled');#}
{#				};#}
{##}
{#                for (let i = 0; i < fields.length; ++i) {#}
{#                    let _field = $(fields[i]);#}
{##}
{#                    data[_field.attr('name')] = _field.val();#}
{#                    _field.addClass('disabled', true);#}
{#				}#}
{#				submitButton.addClass('disabled', true);#}
{##}
{#                const cleanForm = () => {#}
{#					for (let i = 0; i < fields.length; ++i) {#}
{#						let _field = $(fields[i]);#}
{##}
{#						_field.val('');#}
{#					}#}
{#				};#}
{##}
{#                $.ajax({#}
{#					url: document.location.href,#}
{#					method: 'POST',#}
{#					dataType: 'JSON',#}
{#					data: data,#}
{#					success: response => {#}
{#					    isRequesting = false;#}
{#					    enableAllFieldsAndSubmitButton();#}
{##}
{#					    if (response.success) {#}
{#					        $.confirm({#}
{#								title: '<h4>Успех!</h4>',#}
{#								content: `<p>${response.message}</p>`,#}
{#								type: 'green',#}
{#								columnClass: 'col-md-6 col-md-offset-3 col-lg-6 col-md-offset-3 col-sm-12',#}
{#								buttons: {#}
{#								    ok: {#}
{#								        text: 'Хорошо',#}
{#										btnClass: 'btn-primary',#}
{#										action: () => {#}
{#								            applyModal.modal('hide');#}
{#								            cleanForm();#}
{#										}#}
{#									}#}
{#								}#}
{#							});#}
{#						} else {#}
{#					        _alert(#}
{#					            '<h4>Ошибка!</h4>',#}
{#								`<p>${response.message}</p>`,#}
{#								'red'#}
{#							);#}
{#						}#}
{#					},#}
{#					error: (request, errThrown, errObject) => {#}
{#					    isRequesting = false;#}
{#					    enableAllFieldsAndSubmitButton();#}
{#					    _alert('Неизвестная ошибка!', '<p>Произошла неизвестная ошибка! Пожалуйста попробуйте еще раз.</p><p>Если проблема не исчезла попробуйте попытку позже. Просим прощения за доставленные неудобства!</p>', 'red')#}
{#					}#}
{#				});#}
{#            };#}
{##}
{#            form.on('submit', e => {#}
{#                e.preventDefault();#}
{##}
{#                if (!isRequesting) submitApplyForm();#}
{#            });#}
{##}
{#            submitButton.on('click', e => {#}
{#                e.preventDefault();#}
{##}
{#                if (!isRequesting) submitApplyForm();#}
{#            });#}
{#        });#}
{#	</script>#}
{% endblock %}