{% extends 'base.html' %}

{% load staticfiles product_template_helper widget_tweaks %}


{% block title %}Учебный центр{% endblock %}

{% block extra_css %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
	<style>
		.primary-button {
			cursor: pointer;
		}

		.primary-button.disabled {
			background-color: #6c757d;
			border-color: #6c757d;
			color: #ffffff;
			cursor: not-allowed;
		}
	</style>
{% endblock %}

{% block content %}
	<!-- Page Title START -->
	<div class="page-title-section" style="background-image: url({% if course.cover_image %}{{ course.cover_image.url }}{% else %}http://via.placeholder.com/1730x300{% endif %});">
		<div class="container">
			<h1>{{ course.title }}</h1>
			<ul>
				<li><a href="{% url 'index' %}">Главная</a></li>
				<li><a href="{% url 'schedule:list' %}">Образовательные программы</a></li>
				<li><a href="{% url 'schedule:single' slug=course.slug %}">{{ course.title }}</a></li>
			</ul>
		</div>
	</div>
	<!-- Page Title END -->


	<div class="section-block-grey">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-12">
					<div class="pr-30-md">
						<div class="section-heading">
							<h5>{{ course.title }}</h5>
							<h5>{% if course.get_actual_date_action %}{{ course.get_actual_date_action.cost }}{% else %}Уточните у оператора{% endif %}</h5>
							<button class="primary-button button-md{% if not course.get_actual_date_action %} disabled{% endif %}" id="open-apply-form-button">{% if course.get_actual_date_action %}Записаться{% else %}Запись временно не доступна{% endif %}</button>
						</div>
						<div class="section-heading-line-left"></div>
						<div class="text-content-big mt-20">
							{{ course.short_description|split_lines|safe }}
							<!-- Подставляется из основного расписание  shedule.html-->
							{% if course.get_actual_date_action %}
								<p>Дата: {{ course.get_actual_date_action.action_date|date }}</p>
								<p>Время: {{ course.get_actual_date_action.action_date|time }}</p>
								<p>Прод-ть: {{ course.get_actual_date_action.duration }}</p>
								<p>Оплата: {{ course.get_actual_date_action.cost }}</p>
							{% else %}
								<p>Дата:
									<small><b>Не доступно</b></small>
								</p>
								<p>Время:
									<small><b>Не доступно</b></small>
								</p>
								<p>Прод-ть:
									<small><b>Не доступно</b></small>
								</p>
								<p>Оплата:
									<small><b>Не доступно</b></small>
								</p>
							{% endif %}
						</div>
					</div>
				</div>
				<div class="col-md-6 col-sm-6 col-12">
					<img src="{{ course.thumbnail.url }}" class="rounded-border shadow-primary" alt="{{ course.title }}">
				</div>
			</div>
		</div>
		<div class="container mt-50">
			<div class="section-heading-line"></div>
			{{ course.full_description|split_lines|safe }}
		</div>
	</div>


	<!-- Modal -->
	<div class="modal fade" id="apply-to-course-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLongTitle">Запись на курс "{{ course.title }}"</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<!-- Form Start -->
					<form class="contact-form row" id="apply-form">
						{% render_field apply_form.course %}
						<div class="col-md-12 col-sm-12 col-12">
							{% render_field apply_form.name placeholder='Ваше ФИО' %}
						</div>

						<div class="col-md-12">
							{% render_field apply_form.email placeholder='Электронная почта' %}
						</div>

						<div class="col-md-12">
							{% render_field apply_form.phone placeholder='Телефон' %}
						</div>

						<div class="col-md-12 col-sm-12 col-12">
							{#<input type="text" name="education" placeholder="Ваше образование">#}
							{% render_field apply_form.education placeholder='Образование' %}
						</div>

						<div class="col-md-12">
							{#<textarea name="message" placeholder="Сообщение"></textarea>#}
							{% render_field apply_form.message placeholder='Сообщение' %}
						</div>
					</form>
					<!-- Form End -->
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
					<button type="button" class="btn btn-primary" id="submit-apply-form-button">Записаться</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block extra_js %}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
	<script>
		let isRequesting = false;

		const _alert = (title, content, status) => {
		    $.alert({
				title: `<h4>${title}</h4>`,
				content: content,
				type: status,
				columnClass: 'col-md-6 col-md-offset-3 col-lg-3 col-lg-offset-3 col-sm-12',
				theme: 'material'
			});
		};

        $(document).ready(() => {
            let openApplyModalButton = $('#open-apply-form-button');
            let applyModal = $('#apply-to-course-modal');
            let form = $('#apply-form');
            let submitButton = $('#submit-apply-form-button');

            openApplyModalButton.on('click', e => {
                e.preventDefault();

                if (!openApplyModalButton.hasClass('disabled')) {
                    applyModal.modal('show');
                }
            });

            const submitApplyForm = () => {
                isRequesting = true;

                let data = {
                    csrfmiddlewaretoken: getCookie('csrftoken')
                };

                let fields = form.find('input, textarea');

                const enableAllFieldsAndSubmitButton = () => {
                    for (let i = 0; i < fields.length; ++i) {
						let _field = $(fields[i]);

						_field.removeClass('disabled');
					}
					submitButton.removeClass('disabled');
				};

                for (let i = 0; i < fields.length; ++i) {
                    let _field = $(fields[i]);

                    data[_field.attr('name')] = _field.val();
                    _field.addClass('disabled', true);
				}
				submitButton.addClass('disabled', true);

                $.ajax({
					url: document.location.href,
					method: 'POST',
					dataType: 'JSON',
					data: data,
					success: response => {
					    isRequesting = false;
					    enableAllFieldsAndSubmitButton();
					    if (response.success) {
					        $.confirm({
								title: '<h4>Успех!</h4>',
								content: `<p>${response.message}</p>`,
								type: 'green',
								columnClass: 'col-md-6 col-md-offset-3 col-lg-6 col-md-offset-3 col-sm-12',
								buttons: {
								    ok: {
								        text: 'Хорошо',
										btnClass: 'btn-primary',
										action: () => {
								            applyModal.modal('hide');
										}
									}
								}
							});
						} else {
					        _alert(
					            '<h4>Ошибка!</h4>',
								`<p>${response.message}</p>`,
								'red'
							);
						}
					},
					error: (request, errThrown, errObject) => {
					    isRequesting = false;
					    enableAllFieldsAndSubmitButton();
					    _alert('Неизвестная ошибка!', '<p>Произошла неизвестная ошибка! Пожалуйста попробуйте еще раз.</p><p>Если проблема не исчезла попробуйте попытку позже. Просим прощения за доставленные неудобства!</p>', 'red')
					}
				});
            };

            form.on('submit', e => {
                e.preventDefault();

                if (!isRequesting) submitApplyForm();
            });

            submitButton.on('click', e => {
                e.preventDefault();

                if (!isRequesting) submitApplyForm();
            });
        });
	</script>
{% endblock %}