{% extends 'base.html' %}

{% load staticfiles product_template_helper %}

{% block title %}Расписание занятий{% endblock %}

{% block extra_css %}
	<style>
		.schedule-item {
			text-decoration: dotted;
		}
	</style>
{% endblock %}

{% block content %}
	<div class="section-block" style="color: #111;">
		<div class="section-heading">
			<h1 class="text-center">Расписание</h1>
			<div class="section-heading-line"></div>
		</div>


		<div class="container border mt-50 text-center">
			<div class="row">

				<div class="col-md-3 col-sm-3 col-6 border pb-1 pt-1"><b>Дата</b></div>
				<div class="col-md-3 col-sm-3 col-6 border pb-1 pt-1"><b>Расписание</b></div>
				<div class="col-md-3 col-sm-3 col-6 border pb-1 pt-1"><b>Продолжительность</b></div>
				<div class="col-md-3 col-sm-3 col-6 border pb-1 pt-1"><b>Цена</b></div>
			</div>
		</div>

		{% for item in courses %}
			<div class="container border mt-10 text-center">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-12 pb-3 pt-3  border"><big><a href="{% url 'schedule:single' slug=item.slug %}">{{ item.title }}</a></big></div>
				</div>
				{% for schedule in item.schedule_set.all %}
					<div class="row">
					<div class="col-md-3 col-sm-3 col-6 border pb-1 pt-1">{{ schedule.start_date }}</div>
					<div class="col-md-3 col-sm-3 col-6 border pb-1 pt-1">
						<div class="schedule-item">
							<i class="fa fa-clock-o"></i> {{ schedule.start_hour|time }} - {{ schedule.finish_hour|time }}
						</div>
						<div class="schedule-item">
							<i class="fa fa-calendar-o"></i> {{ schedule.days }}
						</div>
					</div>
					<div class="col-md-3 col-sm-3 col-6 border pb-1 pt-1">{{ schedule.duration }}</div>
					<div class="col-md-3 col-sm-3 col-6 border pb-1 pt-1">
						{% if schedule.has_own_cost %}
							{% if schedule.cost %}
								{{ schedule.cost }}
							{% else %}
								-
							{% endif %}
						{% else %}
							{{ item.cost }}
						{% endif %}
					</div>
				</div>
				{% endfor %}
			</div>
		{% endfor %}
	</div>
{% endblock %}