{% extends 'base.html' %}

{% load staticfiles product_template_helper %}

{% block title %}
	{% if seo and seo.schedule_list_page_title %}
		{{ seo.schedule_list_page_title }}
	{% else %}
		Учебный центр
	{% endif %}
{% endblock %}

{% block seo %}
	{% if seo and seo.schedule_list_page_meta_keywords %}
		<meta name="keywords" content="{{ seo.schedule_list_page_meta_keywords }}" />
	{% endif %}
	{% if seo and seo.schedule_list_page_meta_description %}
		<meta name="description" content="{{ seo.schedule_list_page_meta_description }}" />
	{% endif %}
	{% if seo and seo.schedule_list_page_meta_og_title %}
		<meta name="og:title" content="{{ seo.schedule_list_page_meta_og_title }}" />
	{% endif %}
	{% if seo and seo.schedule_list_page_meta_og_description %}
		<meta name="og:description" content="{{ seo.schedule_list_page_meta_og_description }}" />
	{% endif %}
	{% if seo and seo.schedule_list_page_meta_og_image %}
		<meta name="og:image" content="{{ seo.schedule_list_page_meta_og_image }}" />
	{% endif %}
{% endblock %}

{% block extra_css %}
    <style>
        {#.panel-collapse{#}
        {#    background: red;#}
        {#    margin-top: -104px;#}
        {#}#}
        .classic-shop {
            height: auto;
        }
    </style>
{% endblock %}

{% block content %}
    <!-- Page Title START -->
		<div class="container xleb mt-50">
			<ul>
				<li><a href="{% url 'index' %}">Главная</a></li>
                <li><a href="{% url 'schedule:list' %}">Учебный Центр</a></li>
			</ul>
		</div>
	<!-- Page Title END -->


	<div class="section-block">
		<div class="container">
			<div class="section-heading text-center">
				<h1>Образовательные программы</h1>
				<h4><a class="primary-button button-md mb-15-xs" style="padding: 0 22px 0 22px;" href="{% url 'schedule:base_view' %}">Расписание занятий</a></h4>
{#				<div class="section-heading-line"></div>#}
			</div>
			<div class="row mt-30">

				{% for item in courses %}
					<!-- Product Start -->
					<a href="{% url 'courses_single' slug=item.slug %}">
						<div class="col-md-3 col-sm-6 col-12">
							<div class="classic-shop">
								<div class="classic-shop-img">
									<img src="{{ item.thumbnail.url }}" alt="{% if item.atr_alt %}{{ item.atr_alt }}{% else %}{{ item.image.name }}{% endif %}">
									<div class="shop-box-overlay">
										<div class="row">
											<div class="col-md-12 col-sm-12 col-12">
												<a href="{% url 'courses_single' slug=item.slug %}">
													<div class="shop-to-card">
														<h4><span class="fa fa-eye"></span>Подробнее</h4>
													</div>
												</a>
											</div>
										</div>
									</div>
								</div>
								<div class="classic-shop-text p-4" style="height: 15vh;">
									<h6><a href="{% url 'courses_single' slug=item.slug %}">{{ item.title|truncate_chars:45 }}</a></h6>
								</div>


								<div class="panel-group text-center" id="accordion{{ forloop.counter }}" role="tablist" aria-multiselectable="true">

									<div class="panel panel-grey accordion">
										<div class="panel-heading accordion-heading" role="tab" id="acc{{ forloop.counter }}">
											<h4 class="panel-title accordion-title">
												<a role="button" data-toggle="collapse" data-parent="#accordion{{ forloop.counter }}" href="#ac_col{{ forloop.counter }}" aria-expanded="true" aria-controls="ac_col1">
													Расписание
												</a>
											</h4>
										</div>

                                        <div id="ac_col{{ forloop.counter }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="acc{{ forloop.counter }}">
											{% for schedule in item.schedule_set.all %}
												<div class="panel-body accordion-body text-center">
													<p>Дата: {{ schedule.start_date|safe }}</p>
													<p>Время: {{ schedule.start_hour|time }} - {{ schedule.finish_hour|time }} ({{ schedule.days }})</p>
													<p>Продолжительность: {{ schedule.duration }}</p>
													{% if schedule.have_own_cost %}
														{% if schedule.cost %}
															<p>Оплата: {{ schedule.cost }}</p>
														{% else %}
															<p>Оплата: -</p>
														{% endif %}
													{% else %}
														<p>Оплата: {{ item.cost }}</p>
													{% endif %}
												</div>
											{% endfor %}
										</div>

									</div>
								</div>
							</div>
						</div>
					</a>
					<!-- Product End -->
				{% endfor %}

			</div>
		</div>
	</div>
{% endblock %}