DATABASES = {
    'default': {
        # Драйверы базы данных
        # Список поддерживаемых баз данных: https://docs.djangoproject.com/en/2.2/ref/settings/#std:setting-DATABASE-ENGINE
        # Psycopg2 - зависимость для помощи с работой с базой данных PostgreSQL
        'ENGINE': 'django.db.backends.postgresql_psycopg2',

        # Название базы данных
        'NAME': '<DATABASE NAME>',

        # Пользователь от PostgreSQL
        'USER': '<DATABASE USER>',
        # Пароль от пользователя PostgreSQL
        'PASSWORD': '<DATABASE PASSWORD>',

        # Хост, на котором находится база. В данном случае это наш локальный хост
        'HOST': '127.0.0.1',

        # Порт, на котором находится база. Если не вводить этот параметр,
        # то порт по умолчанию ставиться 5432(для PostgreSQL, для других баз используются их порты по умолчанию).
        # Если поменяли порт при установке базы, то обязательно нужно поменять и тут!
        'PORT': 5432
    }
}

# Режим отладки кода. (Показывает и информирует о всех ошибках во время работы сервера)
DEBUG = False

# Все, разрешенные, хосты, на котором может стоять этот проект.
# Символом "*"(звездочка) устанавливаем, что любой хост может хостить этот проект
# Если хотите ограничить этот список, то просто перечислите их через запятую
# Например, ALLOWED_HOSTS = ['your-domain.com', '*.your-domain.com', '127.0.0.1']
ALLOWED_HOSTS = ['*']
