{% extends 'admin/base.html' %}

{% load staticfiles %}

{% block extrahead %}
	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" />
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<style>
		.button {
			cursor: pointer;
		}

		.field-result-wrapper {
			margin-top: 20px;
		}

		.list-field-data {
			width: 85%;
			margin-top: 65px;

			padding: 16px;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;
			-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
			-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
			box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
		}

		.list-field-data::before {
			content: '';
			display: block;
			clear: both;
		}

		.list-field-data .input-label-field {
			margin-bottom: 25px;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;
		}
	</style>
{% endblock %}


{% block footer %}
	{{ block.super }}

	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script>
		window.dictFieldPrefixIndex = 0;
		window.listFieldPrefixIndex = 0;

		$(document).ready(() => {
		    window.dictField = new DictField({
				field: '#id_price_box'
			});
		    dictField.init();

			window.iconPreview = new IconPreviewer({
				selector: '.id_icon_preview'
			});
			iconPreview.init();

			window.phoneDictField = new DictField({
				field: '#id_phones'
			});
			phoneDictField.init();


			window.listFields = new ListField({
				fields: [
				    '#id_schedule_list_items',
					'#id_grand_service_list_items',
					'#id_grand_smeta_list_items'
				]
			});
			listFields.init();
		});

		function DictField(options) {
		    window.dictFieldPrefixIndex++;
		    options = options || {};
		    options.field = options.field || '#id_price_box';

		    this.value = [];

		    this.idHelper = 0;

		    this.init = () => {
		        this.field = $(options.field);

		        if (this.field) {
		            this.wrapper = $(this.field.parent().parent());

		            this.field.css('display', 'none');

		            this.wrapper.append(`<div><div class="field-wrapper"><input type="text" class="vTextField" placeholder="key" id="dict-field-key-${window.dictFieldPrefixIndex}" /><input type="text" class="vTextField" placeholder="value" id="dict-field-value-${window.dictFieldPrefixIndex}" /><button class="button" id="dict-field-add-button-${window.dictFieldPrefixIndex}" type="button">Добавить</button></div><div class="field-result-wrapper"><table><thead><tr><th>Ключ</th><th>Значение</th><th></th></tr></thead><tbody id="dict-field-result-wrapper-${window.dictFieldPrefixIndex}"></tbody></table></div></div>`);

		            this.keyField = $('#dict-field-key-' + window.dictFieldPrefixIndex);
		            this.valueField = $('#dict-field-value-' + window.dictFieldPrefixIndex);
		            this.addButton = $('#dict-field-add-button-' + window.dictFieldPrefixIndex);
		            this.tableWrapper = $('#dict-field-result-wrapper-' + window.dictFieldPrefixIndex);

		            this.getInitialData();

		            this.addButton.on('click', e => {
		                if (this.keyField.val() !== '' && this.valueField !== '') {
		                    this.addItem({
								key: this.keyField.val(),
								value: this.valueField.val(),
								id: this.idHelper
							});

		                    this.idHelper++;

		                    this.keyField.val('');
		                    this.valueField.val('');
						} else {
		                    alert('Что бы добавить элемент вам нужно заполнить "ключ" и значение');
						}
					});

		            this.keyField.on('keyup input', e => {
		                if (e.keyCode === 13) {
		                    e.preventDefault();
						}
					});

		            this.valueField.on('keyup input', e => {
		                if (e.keyCode === 13) {
		                    e.preventDefault();
						}
					});
				}
			};

		    this.getRowTemplate = item => {
		        let keyId = `dict-field-key-editable-${window.dictFieldPrefixIndex}-${item.id}`;
		        let valueId = `dict-field-value-editable-${window.dictFieldPrefixIndex}-${item.id}`;
		        let removeButton = `dict-field-remove-button-${window.dictFieldPrefixIndex}-${item.id}`;

		        return {
		            template: `<tr data-id="${item.id}"><td><input type="text" class="vTextField" value="${item.key}" id="${keyId}" data-id="${item.id}" /></td><td><input type="text" class="vTextField" value="${item.value}" id="${valueId}" data-id=${item.id} /></td><td><button class="button" type="button" data-id="${item.id}" id="${removeButton}">Удалить</button></td></tr>`,
					queries: {
		                key: keyId,
						value: valueId,
						removeButton: removeButton
					}
				};
			};

		    this.getInitialData = () => {
		        try {
		            this.value = JSON.parse(this.field.val());
				} catch {
		            this.value = [];
				}

				for (let i = 0; i < this.value.length; ++i) {
				    this.addItem(this.value[i], false);

				    if (i === this.value.length - 1) {
				        this.idHelper = this.value[i].id + 1;
					}
				}
			};

		    this.addItem = (item, commit = true) => {
		        let itemTemplate = this.getRowTemplate(item);
				this.tableWrapper.append(itemTemplate.template);

				$('#' + itemTemplate.queries.key).on('input change', e => {
				    let id = parseInt($(e.target).attr('data-id'));

					this.value = this.value.map(item => {
						if (item.id === id) {
							return {
								...item,
								key: e.target.value
							};
						}
						return item;
					});

					this.field.val(JSON.stringify(this.value));
				});

				$('#' + itemTemplate.queries.value).on('input change', e => {
					let id = parseInt($(e.target).attr('data-id'));

					this.value = this.value.map(item => {
						if (item.id === id) {
							return {
								...item,
								value: e.target.value
							};
						}
						return item;
					});

					this.field.val(JSON.stringify(this.value));
				});

				$('#' + itemTemplate.queries.removeButton).on('click', e => {
					let id = parseInt($(e.target).attr('data-id'));

					this.value = this.value.filter(item => item.id !== id);

					$(this.tableWrapper.find(`tr[data-id="${id}"]`)).fadeOut(() => {
						$(this.tableWrapper.find(`tr[data-id="${id}"]`)).remove();
					});

					this.field.val(JSON.stringify(this.value));
				});

		        if (commit) {
		            this.value.push(item);
		            this.field.val(JSON.stringify(this.value));
				}
			};

		    return this;
		}

		function IconPreviewer(options) {
			options = options || {};
			options.selector = options.selector || '.icon-previewer';

			this.elements = $(options.selector);
			this.classes = [options.selector.replace('.', ''), 'fa'];

			this.init = () => {
			    this.elements.each((i, obj) => {
			        $(obj).attr('style', 'font-size: 24px;');
			        let input = $($($(obj).parent().parent()).find('input'));

			        input.on('input', e => {

			            $(obj).attr('class', `${this.classes.join(' ')} fa-${e.target.value}`);
					});
				});
			};

		    return this;
        }

        function ListField(options) {
		    options = options || {};
		    options.fields = options.fields || [];

		    this.fields = [];

		    this.init = () => {
		        this.fields = options.fields.map(selector => ({
					mainWrapper: null,
					element: $(selector),
					value: []
				}));

		        this.fields.forEach((obj, i) => {
		            if (obj.element.length > 0) {
		                this.initItem(obj, i);
					}
				});
			};

		    this.initItem = (obj, index) => {
		        obj.element.css('display', 'none');
		        obj.mainWrapper = $(obj.element.parent().parent());

		        try {
		            obj.value = JSON.parse(obj.element.val());
				} catch (e) {
		            console.error(e);
					obj.value = [];
                }
                obj.mainWrapper.append(this.getRenderedListFieldTemplate(obj, index));
                this.applyTemplateFunctions(obj, index);
                this.applyEditableFunctions();
            };

		    this.applyTemplateFunctions = (obj, index) => {
		        let addInput = $('#list-field-input-' + index);
		        let addButton = $('#list-field-add-button-' + index);

		        let table = $('#list-field-table-' + index);

		        const addNewItem = () => {
		            if (addInput.val() !== "") {
		                let id = 0;

		                if (obj.value.length > 0) {
		                    id = obj.value[obj.value.length - 1].id + 1;
						}

		                obj.value.push({
							id: id,
							text: addInput.val()
						});

		                table.html(this.getTableRenderedValue(obj, index));
		                this.applyEditableFunctions();
		                addInput.val('');
		                this.saveField(index);
					}
				};

		        addInput.on('keydown keyup', e => {
				    if (e.keyCode === 13) {
				        addNewItem();
					}
				});

				addButton.on('click', e => {
				    e.preventDefault();
				    addNewItem();
				});
			};

		    this.applyEditableFunctions = () => {
		        let elements = $('.list-field-editable-value');
		        let deleteButtons = $('.list-field-delete-buttons');

		        elements.each((i, obj) => {
		            $(obj).unbind('input').bind('input', e => {
		                let id = parseInt($(obj).attr('data-id'), 10);
		                let index = parseInt($(obj).attr('data-index'), 10);

		                this.fields[index].value = this.fields[index].value.map(item => {
		                    if (item.id === id) {
		                        return {
									...item,
									text: e.target.value
								};
							}
							return item;
						});
		                this.saveField(index);
					});
				});

		        deleteButtons.each((i, obj) => {
		            $(obj).unbind('click').bind('click', e => {
		                e.preventDefault();

		                let index = parseInt($(obj).attr('data-index'), 10);
		                let id = parseInt($(obj).attr('data-id'), 10);
		                let parentRow = $($(obj).parent().parent());

		                this.fields[index].value = this.fields[index].value.filter(item => item.id !== id);
		                this.saveField(index);

		                parentRow.fadeOut('fast', () => {
		                    parentRow.remove();
						});
					});
				});
			};

		    this.getTableRenderedValue = (obj, index) => {
		        let result = "";

		        if (obj.value.length > 0) {
		            let listFieldItems = '';

		            for (let i = 0; i < obj.value.length; ++i) {
		                let item = obj.value[i];
		                listFieldItems += '<tr>' +
								'<td><input type="text" value=\'' + item.text + '\' class="vTextField list-field-editable-value" data-id="' + item.id + '" data-index="' + index + '" /></td>' +
								'<td><button type="button" class="button list-field-delete-buttons" data-id="' + item.id + '" data-index="' + index + '">Удалить</button></td>' +
							'</tr>';
					}

					result += listFieldItems;
				} else {
		            result += '<tr><td colspan="2">Список пуст...</td></tr>';
				}

				return result;
			};

		    this.getRenderedListFieldTemplate = (obj, index) => {
		        let template = '<div class="list-field-data" id="list-field-data-' + index + '">' +
					'<div class="input-label-field">' +
						'<label for="list-field-input-' + index + '">Введите элемент списка</label>' +
						'<input type="text" class="vTextField" id="list-field-input-' + index + '" />' +
						'<button class="button" id="list-field-add-button-' + index + '">Добавить</button>' +
					'</div>' +
					'<table>' +
						'<thead>' +
							'<tr>' +
								'<th colspan="2">Элемент списка</th>' +
							'</tr>' +
						'</thead>' +
						'<tbody id="list-field-table-' + index + '">';

		        template += this.getTableRenderedValue(obj, index);

		        template += '</tbody>' +
					'</table>' +
				'</div>';

		        return template;
			};

		    this.saveField = index => {
		        if (Boolean(this.fields[index].element)) {
		            this.fields[index].element.val(JSON.stringify(this.fields[index].value));
				}
			};

		    this.setValue = (index, id, value) => {
		        this.fields = this.fields.map((item, i) => {
		            if (index === i) {
		                return {
							...item,
							value: item.value.map(_item => {
							    if (_item.id === id) return {..._item, text: value };
							    return _item;
							})
						}
					}

		            return item;
				});
				this.saveField(index);
				$(`input.list-field-editable-value[data-id=${id}][data-index=${index}]`).val(value);
			};
		}
	</script>
{% endblock %}